/* .content{
    width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  } */
  /* .content__elem{
    margin: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  
    border-radius: 5px;
    width: 220px;
    height: 450px;
  } */
  .film{
    margin: 10px;
    color: white;
    display:flex;
    justify-content: flex-start;
  }
  
  /* .film__poster{
    padding: 30px;
    width: 340px;
    height: 510px;
  }
  .film span{
    display: block;
    padding-bottom: 10px;
  } */

  .coment{
    width: 100%;
  margin: 10px;
   position: absolute;
   top: 620px;
   

  }
  .coment h1{
    text-align: center;
    
  }